name: hello world workflow

on:
  push:
    branches:
        -main
  pull_request:
    branches:
        -main
  workflow_dispatch:
jobs:
  firstjob:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: hello world
        run: echo "Hello World"
        shell: bash
        
  secodjob:
    runs-on: ubuntu-latest
    steps:
      - name: hello world
        run: echo "Hello World"
        shell: bash
    
